div.v_line{ display: none}
div.formFooter .submit {margin: 0; padding: 4px 15px; line-height: 19px;}
div.formFooter .cancel { border: none; padding: 0;}
.select2-container-multi.a20_last {margin-bottom: 20px;}